<div class="radar-info-container" *ngIf="cameraInfo$ | async as cameraInfo">
  <!-- rotate takes clockwise angles-->
  <div class="arrow" [ngStyle]="{ 'transform': 'rotate(' + (- computeAngle(cameraInfo.lat, cameraInfo.lon)) + 'deg)' }" *ngIf="speed != null && speed > 10"></div>
  <div class="distance-display">
    {{ computeDistanceString(cameraInfo.distance) }}
  </div>
  <div class="speed-display" *ngIf="speedString !== null">
    {{ speedString }}
  </div>
  <div *ngIf="cameraInfo.distance <= speedLimitThreshold" class="speed-limit-display">
    <div class="speed-limit-circle">
      {{ cameraInfo.maxSpeed }}
    </div>
  </div>
  <button id="enableWakeLock" (click)="enableWakeLock()">Keep Screen On</button>
</div>