html,
body {
    touch-action: none;
    -ms-touch-action: none;
    /* for IE11 */
}

.arrow {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 20px solid black;
    transform-origin: center center; /* Ensure rotation happens around the center */
    transition: transform 0.3s ease; /* Optional: smooth rotation */
  }
  
  

.radar-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

.distance-display {
    font-size: 4em;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}

.speed-display {
    font-size: 4em;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}

.speed-limit-display {
    font-size: 4em;
    font-weight: bold;
    margin-bottom: 20px;
}

.speed-limit-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: white;
    color: black;
    border: 25px solid red;
    font-size: 1.5em;
    font-weight: bold;
}